<!-- <button mat-button>Click me!</button>

<mat-checkbox> Check Me!</mat-checkbox>
<mat-radio-group>
<mat-radio-button value="1">Option 1</mat-radio-button>
<mat-radio-button value="2">Option 2</mat-radio-button>
</mat-radio-group> -->

<app-nav></app-nav>
<app-menu></app-menu>
<app-tooltip></app-tooltip>
<app-badge></app-badge>
<app-chips></app-chips>
<app-card></app-card>
<app-tree></app-tree>
<app-progress-spinner></app-progress-spinner>
<app-slide-toggle></app-slide-toggle>
<app-dialog></app-dialog>


